In [1]:
!pip3 install wheel
!pip3 install pandas

Requirement already satisfied: wheel in c:\python310\lib\site-packages (0.38.3)

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Python310\python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\python310\lib\site-packages (1.5.1)
Requirement already satisfied: pytz>=2020.1 in c:\python310\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\python310\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (c:\python310\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\python310\lib\site-packages)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Python310\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv("Web_browse_all.csv")
# liver_disease = df.drop("Index", axis = 1)
df

ModuleNotFoundError: No module named 'pandas'

In [2]:
df1 = df.drop("UserName", axis=1)

NameError: name 'df' is not defined

In [8]:
df1

,Media ID,MediaName,Media Duration (sec - U=UserControlled),AOI ID,AOI Name,AOI Start,AOI Duration (sec - U=UserControlled),User ID,UserGender,User Age,Time to 1st View (sec),Time Viewed (sec),Time Viewed (%),Fixations (#),Revisits (#),Group
0,0,Apple,120,0,1A,0,120,3,F,0,-1.000,0.000,0.000,0,0,ASD
1,0,Apple,120,0,1A,0,120,4,F,0,-1.000,0.000,0.000,0,0,ASD
2,0,Apple,120,0,1A,0,120,5,M,0,-1.000,0.000,0.000,0,0,ASD
3,0,Apple,120,0,1A,0,120,6,F,0,-1.000,0.000,0.000,0,0,ASD
4,0,Apple,120,0,1A,0,120,7,M,0,-1.000,0.000,0.000,0,0,ASD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3355,5,Yahoo,120,111,6J,0,120,16,M,0,21.375,2.528,2.107,11,2,Control
3356,5,Yahoo,120,111,6J,0,120,17,M,0,7.750,2.176,1.813,7,0,Control
3357,5,Yahoo,120,111,6J,0,120,18,F,0,4.750,4.544,3.787,27,11,Control
3358,5,Yahoo,120,111,6J,0,120,21,F,0,0.000,2.048,1.707,8,2,Control
3359,5,Yahoo,120,111,6J,0,120,22,F,0,2.750,5.792,4.827,18,1,Control

In [9]:
df = df1.drop(" AOI Name", axis=1)

In [10]:
df

,Media ID,MediaName,Media Duration (sec - U=UserControlled),AOI ID,AOI Start,AOI Duration (sec - U=UserControlled),User ID,UserGender,User Age,Time to 1st View (sec),Time Viewed (sec),Time Viewed (%),Fixations (#),Revisits (#),Group
0,0,Apple,120,0,0,120,3,F,0,-1.000,0.000,0.000,0,0,ASD
1,0,Apple,120,0,0,120,4,F,0,-1.000,0.000,0.000,0,0,ASD
2,0,Apple,120,0,0,120,5,M,0,-1.000,0.000,0.000,0,0,ASD
3,0,Apple,120,0,0,120,6,F,0,-1.000,0.000,0.000,0,0,ASD
4,0,Apple,120,0,0,120,7,M,0,-1.000,0.000,0.000,0,0,ASD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3355,5,Yahoo,120,111,0,120,16,M,0,21.375,2.528,2.107,11,2,Control
3356,5,Yahoo,120,111,0,120,17,M,0,7.750,2.176,1.813,7,0,Control
3357,5,Yahoo,120,111,0,120,18,F,0,4.750,4.544,3.787,27,11,Control
3358,5,Yahoo,120,111,0,120,21,F,0,0.000,2.048,1.707,8,2,Control
3359,5,Yahoo,120,111,0,120,22,F,0,2.750,5.792,4.827,18,1,Control

In [5]:
df.isna().sum()

Media ID                                    0
 Media Name                                 0
 Media Duration (sec - U=UserControlled)    0
 AOI ID                                     0
 AOI Start                                  0
 AOI Duration (sec - U=UserControlled)      0
 User ID                                    0
 User Gender                                0
 User Age                                   0
 Time to 1st View (sec)                     0
 Time Viewed (sec)                          0
 Time Viewed (%)                            0
 Fixations (#)                              0
 Revisits (#)                               0
Group                                       0
dtype: int64

In [5]:
df = df1.dropna()

In [6]:
df.isna().sum()

Category    0
Age         0
Sex         0
ALB         0
ALP         0
ALT         0
AST         0
BIL         0
CHE         0
CHOL        0
CREA        0
GGT         0
PROT        0
dtype: int64

In [7]:
df

,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,3=Cirrhosis,58,f,34.0,46.4,15.0,150.0,8.0,6.26,3.98,56.0,49.7,80.6
609,3=Cirrhosis,59,f,39.0,51.3,19.6,285.8,40.0,5.77,4.51,136.1,101.1,70.5
610,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0

In [8]:
df["Category"].value_counts()

0=Blood Donor    526
3=Cirrhosis       24
1=Hepatitis       20
2=Fibrosis        12
Name: Category, dtype: int64

In [9]:
56/526

0.10646387832699619

In [11]:
#Creating the dependent variable class
factor = pd.factorize(df['UserGender'])
df.UserGender = factor[0]
definitions = factor[1]
print(df.UserGender.head())
print(definitions)

0    0
1    0
2    1
3    0
4    1
Name: UserGender, dtype: int64
Index([' F', ' M'], dtype='object')

In [12]:
#Creating the dependent variable class
factor = pd.factorize(df['MediaName'])
df.MediaName = factor[0]
definitions = factor[1]
print(df.MediaName.head())
print(definitions)

0    0
1    0
2    0
3    0
4    0
Name: MediaName, dtype: int64
Index([' Apple', ' Babylon', ' AVG', ' BBC', ' GoDaddy', ' Yahoo'], dtype='object')

In [13]:
#Creating the dependent variable class
factor = pd.factorize(df['Group'])
df.Group = factor[0]
definitions = factor[1]
print(df.Group.head())
print(definitions)

0    0
1    0
2    0
3    0
4    0
Name: Group, dtype: int64
Index(['ASD', 'Control'], dtype='object')

In [14]:
df

,Media ID,MediaName,Media Duration (sec - U=UserControlled),AOI ID,AOI Start,AOI Duration (sec - U=UserControlled),User ID,UserGender,User Age,Time to 1st View (sec),Time Viewed (sec),Time Viewed (%),Fixations (#),Revisits (#),Group
0,0,0,120,0,0,120,3,0,0,-1.000,0.000,0.000,0,0,0
1,0,0,120,0,0,120,4,0,0,-1.000,0.000,0.000,0,0,0
2,0,0,120,0,0,120,5,1,0,-1.000,0.000,0.000,0,0,0
3,0,0,120,0,0,120,6,0,0,-1.000,0.000,0.000,0,0,0
4,0,0,120,0,0,120,7,1,0,-1.000,0.000,0.000,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3355,5,5,120,111,0,120,16,1,0,21.375,2.528,2.107,11,2,1
3356,5,5,120,111,0,120,17,1,0,7.750,2.176,1.813,7,0,1
3357,5,5,120,111,0,120,18,0,0,4.750,4.544,3.787,27,11,1
3358,5,5,120,111,0,120,21,0,0,0.000,2.048,1.707,8,2,1
3359,5,5,120,111,0,120,22,0,0,2.750,5.792,4.827,18,1,1

In [15]:
df.dtypes

Media ID                                      int64
MediaName                                     int64
 Media Duration (sec - U=UserControlled)      int64
 AOI ID                                       int64
 AOI Start                                    int64
 AOI Duration (sec - U=UserControlled)        int64
 User ID                                      int64
UserGender                                    int64
 User Age                                     int64
 Time to 1st View (sec)                     float64
 Time Viewed (sec)                          float64
 Time Viewed (%)                            float64
 Fixations (#)                                int64
 Revisits (#)                                 int64
Group                                         int64
dtype: object

In [16]:
df['Media ID'] = df['Media ID'].astype(float)
df['MediaName'] = df['MediaName'].astype(float)
df[' Media Duration (sec - U=UserControlled)'] = df[' Media Duration (sec - U=UserControlled)'].astype(float)
df[' AOI ID'] = df[' AOI ID'].astype(float)
df[' AOI Start'] = df[' AOI Start'].astype(float)
df[' AOI Duration (sec - U=UserControlled)'] = df[' AOI Duration (sec - U=UserControlled)'].astype(float)

In [18]:
df[' User ID'] = df[' User ID'].astype(float)
df['UserGender'] = df['UserGender'].astype(float)
df[' User Age'] = df[' User Age'].astype(float)
df[' Fixations (#)'] = df[' Fixations (#)'].astype(float)
df[' Revisits (#)'] = df[' Revisits (#)'].astype(float)
df['Group'] = df['Group'].astype(float)

In [19]:
df.dtypes

Media ID                                    float64
MediaName                                   float64
 Media Duration (sec - U=UserControlled)    float64
 AOI ID                                     float64
 AOI Start                                  float64
 AOI Duration (sec - U=UserControlled)      float64
 User ID                                    float64
UserGender                                  float64
 User Age                                   float64
 Time to 1st View (sec)                     float64
 Time Viewed (sec)                          float64
 Time Viewed (%)                            float64
 Fixations (#)                              float64
 Revisits (#)                               float64
Group                                       float64
dtype: object

In [20]:
# Create X (feature matrix)
X = df.drop("Group", axis=1)

#Create Y (labels)
y = df["Group"]

In [21]:
np.random.seed(42)

from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 42)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf.fit(X_train, y_train);

In [22]:
clf.score(X_test, y_test)

0.7008928571428571

In [23]:
#make prediciton
y_pred = clf.predict(X_test)
y_pred

array([1., 0., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 1., 1., 1.,
       0., 1., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 1., 0.,
       1., 0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0.,
       0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1.,
       1., 1., 0., 0., 1., 1., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0.,
       0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 0., 1., 1., 0., 1., 1., 1.,
       1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 1.,
       0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 1., 1.,
       0., 1., 0., 1., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 1., 1., 0.,
       0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 1., 0., 0., 1., 0.,
       1., 0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 1.,
       0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1.,
       1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1.,
       0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1.,
       1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 1., 0., 1.,
       0., 1., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 1., 1., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 1., 0.,
       1., 0., 0., 0., 0., 1., 0., 0., 1., 1., 1., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 0., 1., 1., 1.,
       1., 1., 1., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 1.,
       0., 1., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0.,
       1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0.,
       1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1.,
       1., 0., 1., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0.,
       0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 0.,
       1., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 1., 0., 1., 0., 0., 1., 0., 1., 1., 1., 0., 0., 0., 1., 0., 0.,
       1., 1., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 0., 0., 0.])

In [24]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
accuracy_score(y_test,y_pred)

0.7008928571428571

In [25]:
confusion_matrix(y_test,y_pred)

array([[267,  90],
       [111, 204]], dtype=int64)

In [26]:
import pickle

pickle.dump(clf, open("./autism_detection.pkl", "wb"))

In [ ]:
\\ KNN Classification

In [47]:
np.random.seed(42)

from sklearn.neighbors import KNeighborsClassifier

clf = KNeighborsClassifier(n_neighbors=4)

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf.fit(X_train, y_train);

In [48]:
clf.score(X_test, y_test)

0.6026785714285714

In [49]:
#make prediciton
y_pred = clf.predict(X_test)
y_pred

array([0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 1., 1., 0., 1., 1., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0.,
       0., 0., 1., 0., 1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 1., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 1., 0., 1., 1.,
       0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 1.,
       1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 1., 0., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 1., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1.,
       0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1.,
       0., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 1., 1., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1.,
       1., 0., 0., 0., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 1.,
       1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0., 0.,
       1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0.,
       1., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1.,
       0., 0., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0.,
       1., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0.,
       0., 1., 0., 1., 0., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 1.,
       1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 1., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 1., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 0.,
       0., 1., 0., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1.,
       0., 0., 1., 1., 1., 0., 0., 0., 0.])

In [51]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
accuracy_score(y_test,y_pred)

0.6026785714285714

In [50]:
confusion_matrix(y_test,y_pred)

array([[268,  89],
       [178, 137]], dtype=int64)

In [52]:
import pickle

pickle.dump(clf, open("./autism_detection_knn.pkl", "wb"))